* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.d-flex {
  display: flex;
}

.volunteer {
  margin: auto;
  width: 55%;
  border: 2px solid red;
}

fieldset {
  border-left: none;
  border-right: none;
  border-bottom: none;
  text-align: center;
  width: 50%;
  margin: auto;
  border-top: 3px solid #ffc602;
  margin-bottom: 10px;;
}

form {
  margin: auto;
  width: 50%;
}

form input {
  display: block;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 10px;
  border: 3px solid #ffc602;
  border-radius: 5px;
}

.input2 input {
  width: 100%;
  display: block;
}

.input1 {
  justify-content: space-between;
}

.control {
  width: 100%;
}

.create {
  width: 50%;
  margin-right: 5px;
}

.divide {
  width: 50%;
}

.divide input {
  display: inline;
}

.create select {
  padding: 10px 0;
  border: 3px solid #ffc602;
}

/* .t-area {
  border: 2px solid red;
} */

.t-area textarea {
  width: 100%;
  margin-bottom: 10px;
  border: 3px solid #ffc602;
  border-radius: 5px;
}

button {
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #21bf73;
  border: none;
  border-radius: 5px;
  color: #ffffff;
}