* {
  box-sizing: border-box;
  width: 100%;
  font-family: Verdana, Arial, sans-serif;
  background-color: #ffffff;
  margin: 0;
  padding: 0; 
}

section .volunteer {
  width: 80%;
}

.legend {
  position: relative;
  max-width: 500px;
  margin: 60px auto;
  text-align: center;
}

.legend:before {
  content: " ";
  display: block;
  height: 2px;
  width: 25%;
  position: absolute;
  top: 50%;
  left: -10px;
  background: #ffc602;
}

.legend:after {
  content: " ";
  display: block;
  height: 2px;
  width: 25%;
  position: absolute;
  top: 50%;
  right: -10px;
  background: #ffc602;
}

fieldset {
  width: 60%;
  margin: auto;
  padding: 30px;
  border: none;
  align-items: center;
}

.control {
  display: flex;
  position: relative;
}

.divide {
  position:relative;
  width: 50%;
  padding: 30px;
}

.create {
  position: relative;
  width: 50%;
  padding: 30px;
}

input {
  max-width: 90%;
  padding: 0.8rem;
  margin: 3%;
}

.divide input {
  border: none;
  margin: 0;
  width: auto;
}

.show p {
  margin-bottom: 15px;
} 

.create label {
  margin: 20px auto;
}

input, select, textarea {
  align-items: center;
  border: 3px solid #ffc602;
  border-radius: 5px;
}

select {
  width: 90%;
  height: 2.5rem;
  margin-top: 10px;;
}

.show {
  width: 100%;
  display: block;
  align-items: center;
}

h3 {
  text-align: center;
  display: block;
  margin: 20px;
}

textarea {
  max-width: 90%;
  margin: auto;
  display: flex;
}

button {
  width: 100%;
  padding: 10px;
  text-align: center;
  background-color: #21bf73;
  color: #f39741;
  margin: 20px;
  border: none;
  border-radius: 5px;
  font-weight: 600;
}

.bot {
  width: 60%;
  align-items: center;
  margin: auto;
}

h4 {
  text-align: center;
}

.divided {
  width: 40%;
  padding: 10px;
  margin: 10px;
  display: inline;
}

.divided input {
  display: inline;
}
