* {
  box-sizing: border-box;
  width: 100%;
  font-family: Verdana, Arial, sans-serif;
  background-color: #ffffff;
  margin: auto;
  padding: 0;
}

legend {
  /* position: relative; */
  display: block;
  max-width: 80%;
  margin: auto;
  margin-bottom: 20px;
  align-items: center;
  text-align: center;
  font-size: 1.3rem;
  font-weight: 650;  
  padding-inline-start: 0;
  padding-inline-end: 0;
}

legend:before {
  content: " ";
  display: inline-flex;
  height: 2px;
  width: 30%;
  /* position: absolute; */
  top: 50%;
  left: -5px;
  background: #ffc602;
}

legend:after {
  content: " ";
  display: inline-flex;
  height: 2px;
  width: 30%;
  /* position: absolute; */
  top: 50%;
  right: -5px;
  background: #ffc602;
}

fieldset {
  /* position: absolute;
  left: 25%; */
  display: flex;
  width: 60%;
  margin: auto;
  border: none;
  align-items: center;
}

.control {
  display: flex;
  width: 70%;
  margin: auto;
  border: 1px solid black;
  /* position: relative; */
}

.divide {
  /* position:relative; */
  display: inline-block;
  width: 100%;
  padding: 25px;
}

.create {
  /* position: absolute; */
  display: inline-block;
  width: 100%;
  padding: 25px;
}

input {
  width: 70%;
  padding: 0.7rem;
  margin: auto;
  align-items: center;
  margin-bottom: 20px;;
}

.divide input {
  border: none;
  margin: auto;
}

/* .show p {
  margin-bottom: 15px;
}  */

.create label {
  margin: 20px auto;
}

input, select, textarea {
  align-items: center;
  border: 3px solid #ffc602;
  border-radius: 5px;
}

select {
  width: 80%;
  height: 2.5rem;
  margin-top: 10px;;
}

/* .show {
  width: 80%;
  align-items: center;
} */

h3 {
  text-align: center;
  display: flex;
  margin: 20px;
}

textarea {
  width: 75%;
  margin: auto;
  margin-top: 20px;
}

button {
  width: 75%;
  padding: 10px;
  background-color: #21bf73;
  color: #fff;
  margin: auto;
  border: none;
  margin-top: 20px;
  border-radius: 5px;
  font-weight: 600;
}

h4 {
  text-align: center;
}

.divided {
  /* position: relative; */
  width: 35%;
  padding: 10px;
  margin: 10px;
  display: inline-flex;
}

.divided input {
  display: inline;
}
