* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.d-flex {
  display: flex;
}

.volunteer {
  margin: auto;
  width: 55%;
  /* border: 2px solid red; */
}

fieldset {
  border-left: none;
  border-right: none;
  border-bottom: none;
  text-align: center;
  width: 50%;
  margin: auto;
  border-top: 3px solid #ffc602;
}

legend {
  font-size: 1.3rem;
  font-weight: 700;
  padding: 10px;
  margin-bottom: 15px;
}

form {
  margin: auto;
  width: 50%;
}

form input {
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 15px;
  border: 3px solid #ffc602;
  border-radius: 5px;
}

form ::placeholder {
  padding-left: 15px;
}

.input2 input {
  width: 100%;
  display: block;
}

.input1 {
  justify-content: space-between;
}

.separate {
  width: 100%;
}

.separate input {
  width: 7.7rem; 
}

div .age {
  width: 15%;
  display: flex;
}

.age p {
  display: inline;
  text-align: center;  
  margin-right: 2px;
  font-weight: 600;
  padding-top: 5px;
}

div .type {
  width: 25%;
  display: flex;  
  margin-left: 1.5rem;
}

.control {
  width: 100%;
  margin-bottom: 20px;
}

.create {
  width: 50%;
  margin-right: 5px;
}

.create select {
  border-radius: 5px;
}

.divide {
  width: 50%;
}

.divide input {
  display: inline;
}

.divide p {
  font-size: 15px;
  font-weight: 530;
  padding-bottom: 8px;
}

.create select {
  padding: 10px 0;
  border: 3px solid #ffc602;
}

/* .t-area {
  border: 2px solid red;
} */

.t-area textarea {
  width: 100%;
  margin-bottom: 10px;
  border: 3px solid #ffc602;
  border-radius: 5px;
  resize: none;
}

textarea::placeholder {
  padding-top: 10px;
}

button {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #21bf73;
  border: none;
  border-radius: 5px;
  color: #ffffff;
}
