main{
    padding-top: 10rem;
}

.aboutus-container{
    margin: auto;
    width: 70%;
    text-align: justify;
    margin-top: 4rem;
}

.section-title{
    color: #ffc602;
    font-size: 2.1rem;
    border-bottom: 3px solid #ffc602;
    border-top: 3px solid #ffc602;
    margin: auto;
    width: 25%;
    margin-bottom: 4rem;
    padding: 10px;
}

span{
    font-size: 4rem;
}

.aboutus-container div{
    margin-bottom: 2rem;
}

.title{
    font-size: 1.2rem;
    font-weight: 600;
}

/* .card{
    margin-top: 50px;
    width: 30%;
    border: 1px solid grey;
    border-radius: 5px;
    
} */

/* .card-img img{
    width: 100%;
    height: auto;
   
}

.card-title{
    margin-bottom: 10px;
}

.card-content{
    padding: 10px 15px;
    background-color:;
    color: black;
}

.writer-img img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;

}
.writer-info{
    margin-top: 10px;
}
.writer-name{
   justify-content: center;
   align-items: center;
   margin-left: 5px;
} */

.personal-card{
    justify-content: space-between;
    /* margin: auto;
    width: 90%;
    border: 1px solid red; */
}

.card-info img{
    width: 15rem;
    height: 10rm;
}

.card-info p + div{
    flex-direction: column;
}

.title2{
    width: 40%;
    margin-top: 5rem;
}

a{
    color: black;
}
