@font-face {
    font-family: 'Acumin Pro', sans-serif;
    src: url(/assets/fonts/Acumin-RPro.woff) format('woff');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* .blog1-container{
    margin: auto;
    width: 70%;
} */


.blog1-main{
    width: 80%;
    margin: auto;
    margin-top: 120px;
    margin-bottom: 50px;
    /* margin-left: 15rem; */
    position: relative;
    /* margin-left: 17rem; */
    padding: 50px;
    /* border: 1px solid red; */
}

.blog1-text{
    margin-bottom: 5rem;
}

.blog1-container h1{
    font-size: 2rem;
    margin-left: 5%;
}
.blog1-text section{
    margin: 2rem;
    text-align: justify;
}

.blog1-text section h2{
    margin-bottom: 1rem;
}



/* SIDEBAR

.blog1-sidebar{
    position: fixed;
    border-right: 5px solid black;

    width: 15rem;
    top: 4.4rem;
    bottom: 0;
    left: 0;
    z-index: -1;
    padding: 10px;

}

.blog1-sidebar h3{
    margin: 20px 0px 30px 0px;
}

a{
    cursor: pointer;
}

.sidebar-container{
    border: 2px solid gray;
    padding: 5px;
    margin-bottom: 20px;
}

.sidebar-container a h4{
    color: black;
    
}

.sidebar-container a{
    text-decoration: none;
} */


/* OTHER RTICLES */

.see-more{
    margin: auto;
    width: 90%;
}
.see-more h3{
    margin-bottom: 2rem;
}

.other-articles{
    /* margin: auto;
    width: 70%; */
    justify-content: space-between;

    gap: 2rem;
    margin-bottom: 50px;
}

.other-articles p{
    font-size: 0.7rem;

}

.other-articles_cards{
    width: 50%;
}

.other-articles a{
    /* margin-top: 50px; */
    /* width: 30%; */
    /* border: 2px solid grey; */
    /* border-radius: 5px; */
    /* justify-content: space-between; */
    /* width: 45%; */
    
}

/* .article-img img{
    width: 100%;
    height: 100%;  
    object-fit: cover;
} */

/* .article-img{
    
    width: 50%;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.article-title{
    margin-bottom: 10px;
} */

/* a > .article-title{
    text-decoration: none;
} */

.card-article{
 
    padding-top: 10px;
    /* padding-bottom: 10px; */
    /* background-color:; */
    /* color: black;
    width: 50%; */
}
/* 
.blogger-img img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;

} */
/* .blogger-info{
    margin-top: 10px;
}
.blogger-name{
   justify-content: center;
   align-items: center;
   margin-left: 5px;
} */
