/* main{
    margin: auto;
    width: 70%;
    margin-bottom: 30px;
} */

.main-img1 img{
    /* width: 45%; */
    height: 40rem;
    object-fit: contain;
    border-radius: 30px;
    margin-right: 20px;
    
}

.main-intro .h1{
    width: 45%;
    justify-content: center;
    align-items: center;
}



.main-intro{
    /* background-color: red; */
    margin: auto;
    width: 80%;
    margin-bottom: 50px;
    /* justify-content: space-between; */
}

/* OUR MISSION */

.mission{
    background-color: #0e1f3a;
    color: white;
    margin-bottom: 20rem;
    padding: 30px 0px 70px 0px;
}

.mission h2{
    color: #ffc602;
}
.mission-container{
    margin: auto;
    width: 60%;
    line-height: 35px;
}



.mission_cards-container{
    position: absolute;
    /* margin: auto; */
    width: 60%;
    justify-content: space-between;
    top: 74rem;
    right: 20rem;
 
}

.mission-points{
    /* border: 1px solid red; */
    width: 22%;
    height: 100px;
    background-color: white;  
    
}

.unknown{
    justify-content: center;
    align-items: center;
}

.unknown span, .unknown i{
    font-size: 6rem;
    color: #21bf73;
    /* font-weight: 200; */
    /* background-color: red; */
    /* padding-left: 20px; */
}

.unknown img{
    width: 80px;
    height: 80px;
    font-weight: 900;
}

/* .unknown .small-img{
    width: 180px;
    height: 180px;
    
} */

.lorem{
    margin-top: 100px;
}
/* BLOG */

.blog-container{
    margin: auto;
    width: 70%;
    justify-content: space-between;
    margin-bottom: 50px;
}

.blog-container p{
    font-size: 0.7rem;

}

.card{
    margin-top: 50px;
    width: 30%;
    border: 1px solid grey;
    border-radius: 5px;
    
}

.card-img img{
    width: 100%;
    height: auto;
   
}

.card-title{
    margin-bottom: 10px;
}

.card-content{
    padding: 10px 15px;
    background-color:;
    color: black;
}

.writer-img img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;

}
.writer-info{
    margin-top: 10px;
}
.writer-name{
   justify-content: center;
   align-items: center;
   margin-left: 5px;
}

/* CONTACT US */

.contactus-container{
    margin: auto;
    width: 50%;
    border: 1px solid gray;
    text-align: center;
    padding: 20px 0px 50px 0px;
    border-radius: 30px;
    margin-bottom: 70px;
}

.contact-title{
    margin-bottom: 20px;
}

.contact-form{
    position: relative;
    /* background-color: red; */

}

.contact-form input{
    width: 60%;
    height: 45px;
    border-radius: 50px;
    text-indent: 20px;
    border: 2px solid #ffc602;
}

.contact-form button{
    position: absolute;
    right: 126px;
    top: 5px;
    padding: 10px 40px;
    border-radius: 50px;
    background-color: #21bf73;
    border: none;
}

