/* main{
    margin: auto;
    width: 70%;
    margin-bottom: 30px;
} */

.main-img1{
    /* border: 2px solid red; */
    /* width: 100%; */
    /* width: 45%; */
    /* height: 40rem;
    object-fit: contain;
    border-radius: 30px;
    margin-right: 20px; */
    margin-bottom: 0px;
    
    
    
}

.main-img1 img{
    width: 100%;
    height: auto;
    object-fit: cover;
    margin-bottom: 0px;
    margin-top: 70px;
  
}

.cp-img{
    width: 100%;
    max-width: 400px;
    height: auto;
    object-fit: contain;
}

/* .main-intro .h1{
    width: 45%;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
} */



.main-intro{
    margin-bottom: 0px;
    
    /* margin: auto;
    width: 80%;
    margin-bottom: 50px; */

}    

/* OUR MISSION */

.mission{
    background-color: #21bf73;
    color: white;
    margin-bottom: 25rem;
    padding: 30px 0px 100px 0px;
    
}
.section-title{
    color: #ffc602;
    font-size: 2.1rem;
    border-bottom: 3px solid #ffc602;
    border-top: 3px solid #ffc602;
    margin: auto;
    width: 35%;
    margin-bottom: 20px;
    padding: 10px;
}

/* .mission h2{
    color: #ffc602;
} */
.mission-container{
    margin: auto;
    width: 60%;
    line-height: 35px;
}



.mission_cards-container{
    position: absolute;
    /* margin: auto; */
    width: 60%;
    justify-content: space-between;
    top: 80rem;
    right: 17rem;
    z-index: 1;
    /* background-color: #0e1f3a; */
 
}

.mission-points{

    width: 22%;
    height: 100px;
    background-color: white;  
    
}

.mission-points p{
    background-color: #ffc602;
    padding: 10px;
    font-size: 1.2rem;
}

.mission-img{
    justify-content: center;
    align-items: center;
}


.mission-img img{
    width: 5rem;
    height: 120px;
    font-weight: 900;
    padding: 20px 0px;
    object-fit: contain;
}



.lorem{
    margin-top: 100px;
}

/* ABOUT US */


.about-us{
    
    padding: 40px;
    background-color: rgb(240, 234, 234);

}

.aboutus-container{
    margin: auto;
    width: 90%;
    justify-content: space-between;
}



.aboutus-info2{
    width: 45%;
    justify-content: center;
    align-items: center;


}

.aboutus-btn{
 
    margin: 20px;
    
}.about-us a{
    color: white;
    text-decoration: none;
}

.aboutus-btn button{
    padding: 20px;
    background-color: #21bf73;
    border:none;
    border-radius: 10px;
    transition: background-color 0.3s ease, font-size 0.3s ease;
}

.aboutus-btn button:hover{
    background-color: #ffc602;
    font-size: 1.2rem;
}



.aboutus-img{
    width: 50%;
}

.aboutus-img img{
    width: 100%;
    border-top-left-radius: 200px;
    border-top-right-radius: 200px;
    border-bottom-right-radius: 300px;
}



.about-us p{
    font-size: 1.3rem;
    line-height: 24px;
}

.about-us h2{
    font-size: 2.3rem;
    /* padding: 50px; */
    font-size: 2.2rem;
    border-bottom: 3px solid black;
    border-top: 3px solid black;
    margin: auto;
    width: 40%;
    margin-bottom: 30px;
    padding: 10px;
    /* margin-bottom: 20px; */
}


/* OUR CAUSES */

.causes{
    background-color: #0e1f3a;
    width: 70%;
    margin: auto;
    color: white;
    padding: 50px;
    
}

.causes-container{
    justify-content: space-between;
    margin-top: 40px;
    margin: auto;
    width: 70%;
}

.causes-img{
    width: 30%;
    text-align: center;

  
}

.causes-img img{
    width: 90%;
    height: 20vh;
    object-fit: cover;
    border: 5px solid white ;
    border-radius: 5px;
}

/* .causes h2{
    color: #ffc602;
    font-size: 2.2rem;
} */

.causes p{
    /* background-color: white; */
    color: gray;
  /* border-top: 3px solid #ffc602; */
  padding: 10px;
}

.donate-cause{
    text-decoration: none;
    color: #21bf73;
    /* padding: 10px; */
    
}


/* BLOG */

.blog-container{
    margin: auto;
    width: 85%;
    justify-content: space-between;
    margin-bottom: 50px;
}

.blog-title{
    margin: auto;
    width: 12%;
    margin-top: 5rem;
    margin-bottom: 0px;
}

.blog-container p{
    font-size: 0.7rem;

}

.card{
    margin-top: 50px;
    width: 30%;
    border: 1px solid grey;
    border-radius: 5px;
    
}

.card-img img{
    width: 100%;
    height: auto;
   
}

.card-title{
    margin-bottom: 10px;
}

.card-content{
    padding: 10px 15px;
    background-color:;
    color: black;
}

.writer-img img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;

}
.writer-info{
    margin-top: 10px;
}
.writer-name{
   justify-content: center;
   align-items: center;
   margin-left: 5px;
}

/* CONTACT US */

.contactus-container{
    margin: auto;
    width: 50%;
    border: 1px solid gray;
    text-align: center;
    padding: 20px 0px 50px 0px;
    border-radius: 30px;
    margin-bottom: 70px;
}

.contact-title{
    margin-bottom: 20px;
}

.contact-form{
    position: relative;
    /* background-color: red; */

}

.contact-form input{
    width: 60%;
    height: 45px;
    border-radius: 50px;
    text-indent: 20px;
    border: 2px solid #ffc602;
}

.contact-form button{
    position: absolute;
    right: 129px;
    top: 5px;
    padding: 10px 40px;
    border-radius: 50px;
    background-color: #21bf73;
    border: none;
}

@media screen and (max-width: 1280px) {
    .mission_cards-container{
        top: 89rem;
        right: 15rem;
    }

    .contact-form button{
        right: 135px;
    }

    input, button{
        font-size: 0.9rem;
    }
     .section-title-text{
        font-size: 1.5rem;
    }
    
}

@media screen and (max-width:1024px) {
    .mission{
        margin-bottom: 30rem;   
    }
    
    .mission_cards-container{
        top: 83rem;
        right: 12rem;
    }

    .contact-form button{
        right: 135px;
    }

    .about-us h2{
        width: 50%;
    }

    .contact-form button{
        right: 109px;
    }

    .blog-container p{
        font-size: 0.9rem;
        line-height: 1.5rem;
    }

    .mission-points p{
        font-size: 1rem;
    }

    .causes-container{
        width: 90%;
    }
    
    
} 

@media screen and (max-width: 912px) {
    /* .mission_cards-container{
        top: 72rem;
        right: 12rem;
    } */

    .mission_cards-container{
        top: 83rem;
        width: 90%;
        gap: 1rem;
        right: 3rem;
    }

    .mission-points p{
        font-size: 1.3rem;
    }

    .about-us h2{
        width: 55%;
    }
    .section-title{
        width: 40%;
    }

    .section-title-text{
        font-size: 1.5rem;
    }

    .blog-title{
        width: 20%;
    }

    .about-us p{
        font-size: 1.5rem;
        line-height: 26px;
    }

    .blog-container p{
        font-size: 1.4rem;
        line-height: 1.7rem;
    }

    .contact-form button{
        right: 96px;
    }

    .causes-img img{
        height: 15vh;
    }

    .aboutus-btn button{
        padding: 10px 40px;
        font-size: 1rem;
    }

    .contactus-container{
        width: 70%;
    }

    .contact-form input{
        height: 65px;
    }
    
    .contact-form button{
        right: 134px;
        top: 8px;
        padding: 16px 40px;
    }
}

@media screen and (max-width:820px) {
    .section-title{
        width: 45%;
    }

    .mission-points p{
        font-size: 1.2rem;
    }

    .mission_cards-container{
        width: 70%;
        gap: 1rem;
    }

    .mission-points{
        width: 30%;
    }

    /* .section-title-text{
        font-size: 10rem;
    } */

    .section-title-text{
        font-size: 1.6rem;
    }

    .mission_cards-container{
        top: 86rem;
        right: 8.5rem;
    }
    
    .mission{
        margin-bottom: 23rem;   
    }

    .about-us h2{
        width: 60%;
    }

    .blog-title{
        width: 17%;
    }

    .contact-form button{
        top: 0.4rem;
        right: 89px;
    }

    input, button{
        font-size: 1.1rem;
    }

    .contact-form input{
        width: 70%;
    }
}

@media screen and (max-width: 768px) {
    .aboutus-img{
        display: none;
    }
    .aboutus-info2{
        width: 100%;
    }

    .about-us h2{
        width: 40%;
    }
}

.causes{
    width: 85%;
}

.causes-img{
    width: 35%;
  
}

