/* main{
    margin: auto;
    width: 70%;
    margin-bottom: 30px;
} */

.main-img1 img{
    /* width: 45%; */
    height: 40rem;
    object-fit: contain;
    border-radius: 30px;
    margin-right: 20px;
    
}

.main-intro .h1{
    width: 45%;
    justify-content: center;
    align-items: center;
}



.main-intro{

    margin: auto;
    width: 80%;
    margin-bottom: 50px;

}

/* OUR MISSION */

.mission{
    background-color: #0e1f3a;
    color: white;
    margin-bottom: 25rem;
    padding: 30px 0px 100px 0px;
}

.mission h2{
    color: #ffc602;
}
.mission-container{
    margin: auto;
    width: 60%;
    line-height: 35px;
}



.mission_cards-container{
    position: absolute;
    /* margin: auto; */
    width: 60%;
    justify-content: space-between;
    top: 73rem;
    right: 20rem;
 
}

.mission-points{

    width: 22%;
    height: 100px;
    background-color: white;  
    
}

.mission-points p{
    background-color: #ffc602;
    padding: 10px;
    font-size: 1.2rem;
}

.mission-img{
    justify-content: center;
    align-items: center;
}


.mission-img img{
    width: 5rem;
    height: 120px;
    font-weight: 900;
    padding: 20px 0px;
    object-fit: contain;
}



.lorem{
    margin-top: 100px;
}

/* ABOUT US */


.about-us{
    
    
    padding: 40px;
    background-color: rgb(240, 234, 234);

}

.aboutus-container{
    margin: auto;
    width: 90%;
    justify-content: space-between;
}



.aboutus-info2{
    width: 45%;
    justify-content: center;
    align-items: center;


}

.aboutus-btn{
 
    margin: 20px;
    
}

.aboutus-btn button{
    padding: 20px;
    background-color: #21bf73;
    border:none;
    border-radius: 10px;
    transition: background-color 0.3s ease, font-size 0.3s ease;
}

.aboutus-btn button:hover{
    background-color: #ffc602;
    font-size: 1.2rem;
}



.aboutus-img{
    width: 50%;
}

.aboutus-img img{
    width: 100%;
    border-top-left-radius: 200px;
    border-top-right-radius: 200px;
    border-bottom-right-radius: 300px;
}



.about-us p{
    font-size: 1.3rem;
    line-height: 24px;
}

.about-us h2{
    font-size: 2.3rem;
    padding: 50px;
}



/* BLOG */

.blog-container{
    margin: auto;
    width: 70%;
    justify-content: space-between;
    margin-bottom: 50px;
}

.blog-container p{
    font-size: 0.7rem;

}

.card{
    margin-top: 50px;
    width: 30%;
    border: 1px solid grey;
    border-radius: 5px;
    
}

.card-img img{
    width: 100%;
    height: auto;
   
}

.card-title{
    margin-bottom: 10px;
}

.card-content{
    padding: 10px 15px;
    background-color:;
    color: black;
}

.writer-img img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;

}
.writer-info{
    margin-top: 10px;
}
.writer-name{
   justify-content: center;
   align-items: center;
   margin-left: 5px;
}

/* CONTACT US */

.contactus-container{
    margin: auto;
    width: 50%;
    border: 1px solid gray;
    text-align: center;
    padding: 20px 0px 50px 0px;
    border-radius: 30px;
    margin-bottom: 70px;
}

.contact-title{
    margin-bottom: 20px;
}

.contact-form{
    position: relative;
    /* background-color: red; */

}

.contact-form input{
    width: 60%;
    height: 45px;
    border-radius: 50px;
    text-indent: 20px;
    border: 2px solid #ffc602;
}

.contact-form button{
    position: absolute;
    right: 165px;
    top: 5px;
    padding: 10px 40px;
    border-radius: 50px;
    background-color: #21bf73;
    border: none;
}

