.nav-container{
    display: flex;
    justify-content: space-between;
    background-color: #0e1f3a;
    color: white;
    height: 70px;
    margin-bottom: 80px;
    /* padding-top: 0px; */
    /* padding: 0px; */
}

.nav-container div{
    
}

.nav-logo img{
    width: 200px;
    /* height: 50px; */

}

.nav-logo{
    padding: 10px 30px;
}

nav p{
    padding: 20px 20px;
    transition: font-size 0.3s ease;

}

nav span{
    padding-left: 20px;
    padding-top: 20px;
}

nav .donate{
    padding-left: 5px;
}

.page{
    transition: background-color 0.3s ease, border-bottom 0.3s ease;
}

.nav-container .page:hover{
   /* opacity: 0.1; */
   border-bottom: 5px solid #ffc602;
   background-color: rgb(255, 198, 2, 0.1);
   
}

nav p:hover{
   font-size: 1.5rem;
    
 }