                    <p>Email: info@inclusiokids.com</p>
                </div>
            </div>
            <!-- <div class="w-25">
                <h4 class="footer-title">Donate</h4>
                <p>Support our mission</p>
                <img class="payment-img" src="assets/images/payment-2.png" alt="Payment option image">
            </div> -->
            <div class="last">
                <h4 class="footer-title">Follow Us</h4>
                <p>Stay updated</p>
                <div class="footer-icon d-flex">
                    <div class="fa-div d-flex">
                        <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                    </div>
                    <div class="fa-div d-flex">
                        <a href="#"><i class="fa-brands fa-twitter"></i></a>
                    </div>
                    <div class="fa-div d-flex">
                        <a href="#"><i class="fa-brands fa-instagram"></i></a>
                    </div>
                    <div class="fa-div d-flex">
                        <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
                    </div>
                </div>
                
            </div>
        </div>
    </footer>
</body>
</html>
